.App {
    text-align: center;
}

.row {
    padding-top: 10px;
    padding-bottom: 10px;
}

.advanced-row {
    padding-top: 10px;
    padding-bottom: 10px;
}

.language-switcher {
    text-align: right;
}

.bottom-line {
    border-bottom: 1px solid #00002222;
}

.margin-left-auto {
    margin-left: auto !important;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}
